---
title: "breadcrumbs"
layout: module.hbs
module: true
---

<ul class="breadcrumbs">
	{{#each breadcrumbs}}
		<li>
			<a href="{{this.link}}" title="{{this.title}}">
				{{#if @first}}
					<span class="home">
						<i class="fa fa-home"></i>
					</span>
				{{/if}}
				{{this.title}}
			</a>
		</li>
	{{/each}}
</ul>